<!DOCTYPE html>
<html>
<head>
    <title>Send Bitcoin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-gray-800 text-white">

    <div class="container bg-gray-800 mx-auto p-8">
        <h1 class="text-3xl font-semibold">Send Bitcoin</h1>
        <form method="POST" class="mt-4">
            <div class="mb-4">
                <label for="sender_private_key" class="block font-semibold">Your Private Key:</label>
                <input type="text" name="sender_private_key" required
                       class="border p-2 rounded-md w-full bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-white">
            </div>

            <div class="mb-4">
                <label for="recipient_address" class="block font-semibold">Recipient Address:</label>
                <input type="text" name="recipient_address" required
                       class="border p-2 rounded-md w-full bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-white">
            </div>

            <div class="mb-4">
                <label for="amount_to_send" class="block font-semibold">Amount to Send (tBTC):</label>
                <input type="number" name="amount_to_send" step="0.0001" required
                       class="border p-2 rounded-md w-full bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-white">
            </div>

            <input type="submit" value="Send"
                   class="bg-green-500 hover:bg-green-700 text-white font-semibold px-4 py-2 rounded-md">
        </form>

        <form method="POST" action="/check_balance" class="mt-8">
            <div class="mb-4">
                <label for="check_balance_key" class="block font-semibold">Check Balance:</label>
                <input type="text" name="sender_private_key" required
                       class="border p-2 rounded-md w-full bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-white">
            </div>

            <input type="submit" value="Check"
                   class="bg-green-500 hover:bg-green-700 text-white font-semibold px-4 py-2 rounded-md">
        </form>

        <div id="balance" class="mt-8">
            {% if balance %}
            <p class="text-green-400">Your Bitcoin Balance: {{ balance }} BTC</p>
            {% endif %}
            {% if error %}
            <p class="text-red-400">Error: {{ error }}</p>
            {% endif %}
        </div>
    </div>
    
</body>
</html>
